{% extends "bootstrap/base.html" %}
{% block title %} My First Bootstrap Application {% endblock %}
{% block navbar %}


{% block head %}
{{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">  
{% endblock %}


<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/home">Home</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/users">Users</a> 
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Logout({{ session['username'] }}) </a></li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}

<div class="row-fluid sortable">  
<div class="box span12"> 

<div class="container"> 

         <div>
            <ul class="breadcrumb">
              <li> <a href="/suggest">Post</a> </li> 
              <li>
              <a href="/home">Back</a> <span class="divider">/</span> </li>
            </ul>
            
        </div>



      <div class="row intro-tables">

        <div class="col-md-8">
          <div class="intro-table intro-table-first">
            <h5 class="white heading">  <p style="color:blue; font-size: 20px;"> {{ suggestion.user.username }} </p>  </h5>
            <div class="owl-carousel owl-schedule bottom">

            <p style="color:black;">Topic:  {{ suggestion.title}} </p> <br/>

             Suggestion:: <p style="background-color: #c7c7c4;"> {{ suggestion.suggestion }} </p>

                  {% with messages = get_flashed_messages() %}
                                {% if messages %}
                
                                  {% for message in messages %}
                                    <p align="center" style="color:magenta;">{{ message }}</p>
                                  {% endfor %}
                                 
                                  {% endif %}
                                {% endwith %}

             <p style="color:magenta;"> Status: {{ suggestion.status }} </p>


              {% for comment in suggestion.comments %}
                        <p style="background-color: #b2c1bf;">
                         <h4 style="color: blue;"> {{ comment.user.username}}:: </h4>  {{ comment.comment }}
                        </p>

                        {% endfor %}


                 <div class="suggestion-comment">
                        <form method=post action="/comment">
                          <dl> <textarea rows="6" cols="30" name="comment"> </textarea> </dl>
                          <dl> <input type="hidden" name="suggestionid" value="{{ suggestion.uuid }}"> </dl>
                        <p align="center"><input type=submit value=Comment>
                        </form> 
                </div>


                <div class="nav-right"> 
                 <div class="suggestion-vote">
                        <form method=post action="/vote">
                          <dl> <input type="hidden" name="suggestionid" value="{{ suggestion.uuid }}"> </dl>
                          <dl> <input type="hidden" name="votestatus" {% if vote.status=='Upvote' %} value="Downvote" {% else %} value="Upvote" {% endif %}> </dl>
                           <input type=submit {% if vote.status=='Upvote' %} value="Downvote" {% else %} value="Upvote" {% endif %} > 
                        </form> 

                        <form method=post action="/flag">
                          <dl> <input type="hidden" name="suggestionid" value="{{ suggestion.uuid }}"> </dl>
                            <input type=submit value=Flag> ({{ flag }})
                        </form> 
                 </div>
                
            </div>


            </div>
          </div>
        </div>

       
      </div>
              

     
   </div>
   </div>
</div>






<footer>
    <p class="pull-right">&copy; Peter and son.  Contact: +254718953974 </p>
</footer>

{% endblock %}